In [1]:
a='My name is Ashwin'
a

'My name is Ashwin'

In [13]:
b=a.split(" ")
c=b[::-1]
c

['Ashwin', 'is', 'name', 'My']

In [17]:
stri=" "
for i in c:
    stri=stri+" "+i
print(stri)

  Ashwin is name My

In [20]:
a=[1,1,1,2,2,2,3,3,4]

In [35]:
import numpy as np
b=np.array(a)
np.unique(b)

array([1, 2, 3, 4])

In [ ]:
t1=100 rows, 20 col
t2=200 rows, 40 col