In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import random
import statistics

1. There are 150 apples on a tree. You randomly choose 17 apples and found that the average weight of apples is 78 grams with a standard deviation of 23 grams. Find the 90% confidence interval for the population mean.

In [8]:
n=17
mean=78
sd=23
print(stats.t.interval(0.90,df=n-1,loc=mean,scale=sd/np.sqrt(n)))
print(stats.norm.interval(0.90,mean,sd/np.sqrt(n)))

(68.26090326067306, 87.73909673932694)
(68.82448114236304, 87.17551885763696)

In [9]:
8/13

0.6153846153846154

In [12]:
# total count of portfolios
N = 50

# number of portfolios in a sample
n = 13

# number of underperforming portfolios in a sample
x = 8

# sample proportion
p_samp = x/n
print('Sample proportion :',p_samp)
#For this Mean and standard deviation not provided
#Type 1
#stats.norm.interval(0.99,mean,sd/np.sqrt(n))

#Type 2
# Pass proportion and scaling factor
stats.norm.interval(0.99,p_samp,np.sqrt(p_samp *(1-p_samp)/n))

Sample proportion : 0.6153846153846154

(0.26782280814713805, 0.9629464226220927)

A car manufacturing company claims that the mileage of their new car is 25 kmph with a standard deviation of 2.5 kmph. A random sample of 45 cars was drawn and recorded their mileage as per the standard procedure. From the sample, the mean mileage was seen to be 24 kmph. Is this evidence to claim that the mean mileage is different from 25kmph? (assume the normality of the data) Use α = 0.01.

In [18]:
pop_mean=25
sam_mean=24
SD=2.5
n=45

In [22]:
#Calculating Critical value
z_val = np.abs(round(stats.norm.isf(q = 0.01/2), 2))
print('Critical value for two-tailed Z-test:', z_val)

Critical value for two-tailed Z-test: 2.58

In [21]:
#Calculating Z score
Z_score=(sam_mean-pop_mean)/(SD/np.sqrt(n))
Z_score
#Z_score not lies between critical value can reject H0

-2.6832815729997477

In [25]:
#Calculating p value
p_val=stats.norm.cdf(Z_score)
#As this is Two tailed Test multiplying by 2
print("P value :",p_val*2)

P value : 0.007290358091535638

In [27]:
#Calculating 99% confidence interval
stats.norm.interval(0.99,sam_mean,SD/np.sqrt(n))

(23.040045096471452, 24.959954903528548)

In [ ]:
#Claming mean not lies in confidence interval and z-score not lies in critical vale.So rejecting the null hypothesis

 The average calories in a slice bread of the brand 'Alphas' are 82 with a standard deviation of 15. An experiment is conducted to test the claim of the dietitians that the calories in a slice of bread are not as per the manufacturer's specification. A sample of 40 slices of bread is taken and the mean calories recorded are 95. Test the claim of dietitians with ⍺ value (significance level) as 0.05. (assume the normality of the data).

In [47]:
pop_mean=82
sd=15
sample_mean=95
n=40
#Calculating critical value
Z_critical=round(stats.norm.isf(q=0.05/2),2)
print('Z-critical :',Z_critical)
#Calculating Z_score
Z_score=(sample_mean - pop_mean) / (sd / np.sqrt(n) )
print('Z- score :',Z_score)
#Calculating p-value
p_val=stats.norm.cdf(-Z_score)
print('P- Value',p_val*2)
#Calculating confidence interval
print('Confidence interval : ',stats.norm.interval(0.95,sample_mean,sd / np.sqrt(n)))

Z-critical : 1.96
Z- score : 5.4812812776251905
P- Value 4.222565249683579e-08
Confidence interval :  (90.35153725771579, 99.64846274228421)

Here the z score is greater than 1.96, the p-value is less than 0.05, also the confidence interval do not contain the value in the null hypothesis (i.e. 82), thus we reject the null hypothesis and thus, there is enough evidence to conclude that the average calories in a slice bread are not 82.

One Sample Testing

In [2]:
Df_student=pd.read_csv('D://DataScience//Material//STATS//Notebooks - 3//Week 3 - Small sample and Large sample tests//StudentsPerformance.csv')

In [6]:
Df_student.head()

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,total score,training institute
0,female,group B,standard,none,89,55,56,200,Nature Learning
1,female,group C,standard,completed,55,63,72,190,Nature Learning
2,female,group B,standard,none,64,71,56,191,Nature Learning
3,male,group A,free/reduced,none,60,99,72,231,Nature Learning
4,male,group C,standard,none,75,66,51,192,Nature Learning

In [3]:
Df_student['gender'].value_counts()

female    517
male      483
Name: gender, dtype: int64

In [18]:
score=Df_student[Df_student.gender == 'female'][['reading score','math score']]
score.head()

   reading score  math score
0             55          89
1             63          55
2             71          64
5             85          74
6             51          55

In [5]:
from scipy.stats import shapiro

In [6]:
shapiro(score)

ShapiroResult(statistic=0.9949197173118591, pvalue=0.08649472147226334)

From the above result, we can see that the p-value is greater than 0.05, thus we can say that the data is normally distributed.

In [20]:
math_mark=list(score['math score'])
mean=np.mean(score)
print('Mean :' ,mean)

std=np.std(score)
print('Standard Deviation',std)

degreef=len(score)-1
print('Degree of freedom',degreef)

Mean : reading score    66.470019
math score       66.891683
dtype: float64
Standard Deviation reading score    13.201663
math score       14.162495
dtype: float64
Degree of freedom 516

In [14]:
t_val=round(stats.t.isf(q=0.1,df=23),2)
t_val

1.32

In [23]:
tstat,p_val=stats.ttest_1samp(a=math_mark,popmean=75)
print('T-statistic: ',tstat,'P-Value :' ,p_val)

T-statistic:  -13.005163029967477 P-Value : 1.2026822167878249e-33

In [24]:
req_p_val=p_val/2
print('P-value',req_p_val)

P-value 6.013411083939124e-34

In [27]:
interval=stats.t.interval(0.90,df=degreef,loc=mean,scale = std/np.sqrt(len(score)))
print('Confidence interval',interval)

Confidence interval (array([65.51328569, 65.86531698]), array([67.42675299, 67.91804859]))

 A researcher is studying the growth of bacteria in waters of Lake Beach. The mean bacteria count of 100 per unit volume of water is within the safety level. The researcher collected 10 water samples of unit volume and found the mean bacteria count to be 94.8 with a sample variance of 72.66. Does the data indicate that the bacteria count is within the safety level? Test at the α = .05 level. Assume that the measurements constitute a sample from a normal population.

H0>=100
H1<100

In [28]:
mean=94.8
std=72.66
df=10-1
alpha=0.05

In [29]:
t_val=round(stats.t.isf(q=0.05,df=9),2)
t_val

1.83

In [32]:
t_score=(94.8-100)/(std/np.sqrt(df))
t_score

-0.2146985962014865