In [107]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from statsmodels.stats.outliers_influence import variance_inflation_factor
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from scipy.stats import zscore

In [117]:
data=pd.read_csv('Train_dataset.csv')
data.head(2)

,Registration Number,Annual Turnover,Cuisine,City,Restaurant Location,Opening Day of Restaurant,Facebook Popularity Quotient,Endorsed By,Instagram Popularity Quotient,Fire Audit,...,Overall Restaurant Rating,Live Music Rating,Comedy Gigs Rating,Value Deals Rating,Live Sports Rating,Ambience,Lively,Service,Comfortablility,Privacy
0,60001,42000000,"indian,irish",Bangalore,Near Business Hub,14-02-2009,84.3,Not Specific,95.8,1,...,10.0,4.0,NaN,NaN,NaN,8.0,8,6,6,6
1,60002,50000000,"indian,irish",Indore,Near Party Hub,29-09-2008,85.4,Tier A Celebrity,85.0,1,...,9.0,NaN,4.0,NaN,NaN,5.0,7,7,3,8

In [118]:
data['Opening Day of Restaurant'] = pd.to_datetime(data['Opening Day of Restaurant'])
data['year'] = data['Opening Day of Restaurant'].dt.year

In [147]:
#data=data.drop(columns=['Live Sports Rating','Value Deals Rating','Comedy Gigs Rating'],axis=0)
#data=data.drop(columns=['Opening Day of Restaurant'],axis=0)#'Live Sports Rating',
#data=data.drop(columns=['Cuisine'],axis=0)
#data=data.drop(columns=['City'],axis=0)
#data=data.drop(columns=['Live Music Rating'],axis=0)
#data=data.drop(columns=['Comedy Gigs Rating'],axis=0)
#data=data.drop(columns=['Value Deals Rating'],axis=0)
#data=data.drop(columns=['Live Sports Rating'],axis=0)
#data=data.drop(columns=['Restaurant Theme'],axis=0)

In [120]:
data['Overall Restaurant Rating']=data['Overall Restaurant Rating'].fillna(data['Overall Restaurant Rating'].median())
data['Facebook Popularity Quotient']=data['Facebook Popularity Quotient'].fillna(data['Facebook Popularity Quotient'].median())
data['Instagram Popularity Quotient']=data['Instagram Popularity Quotient'].fillna(data['Instagram Popularity Quotient'].median())
data['Resturant Tier']=data['Resturant Tier'].fillna(data['Resturant Tier'].median())
data['Ambience']=data['Ambience'].fillna(data['Ambience'].median())

In [15]:
data.head(2)

,Registration Number,Annual Turnover,Restaurant Location,Facebook Popularity Quotient,Endorsed By,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,Situated in a Multi Complex,Dedicated Parking,...,Value for Money,Hygiene Rating,Food Rating,Overall Restaurant Rating,Ambience,Lively,Service,Comfortablility,Privacy,year
0,60001,42000000,Near Business Hub,84.3,Not Specific,95.8,1,1,1,0,...,5,5,7,10.0,8.0,8,6,6,6,2009
1,60002,50000000,Near Party Hub,85.4,Tier A Celebrity,85.0,1,1,1,1,...,6,7,8,9.0,5.0,7,7,3,8,2008

In [121]:
data_cat=data.select_dtypes(include = [np.object])

In [122]:
data_cat=pd.get_dummies(data_cat,drop_first = True)

In [123]:
data_num=data.select_dtypes(include = [np.number])

In [124]:
X=pd.concat([data_num,data_cat],axis=1)

In [125]:
X.columns

Index(['Registration Number', 'Annual Turnover',
       'Facebook Popularity Quotient', 'Instagram Popularity Quotient',
       'Fire Audit', 'Liquor License Obtained', 'Situated in a Multi Complex',
       'Dedicated Parking', 'Open Sitting Available', 'Resturant Tier',
       'Restaurant Zomato Rating', 'Restaurant City Tier', 'Order Wait Time',
       'Staff Responsivness', 'Value for Money', 'Hygiene Rating',
       'Food Rating', 'Overall Restaurant Rating', 'Ambience', 'Lively',
       'Service', 'Comfortablility', 'Privacy', 'year',
       'Restaurant Location_Near Party Hub', 'Endorsed By_Not Specific',
       'Endorsed By_Tier A Celebrity',
       'Restaurant Type_Buffet/Family Restaurant', 'Restaurant Type_Caffee',
       'Restaurant Type_Gastro Bar', 'Restaurant Theme_Ambiance',
       'Restaurant Theme_Arabian', 'Restaurant Theme_Bakery',
       'Restaurant Theme_Belise', 'Restaurant Theme_Benedicta',
       'Restaurant Theme_Bettaso', 'Restaurant Theme_Cafepro',
       'Restaurant Theme_Carbone', 'Restaurant Theme_Chinese',
       'Restaurant Theme_Cinnamon', 'Restaurant Theme_Delicio',
       'Restaurant Theme_Downtown', 'Restaurant Theme_English',
       'Restaurant Theme_Flavors', 'Restaurant Theme_Grand',
       'Restaurant Theme_Greek', 'Restaurant Theme_Italica',
       'Restaurant Theme_LaCuisine', 'Restaurant Theme_Marco',
       'Restaurant Theme_Mise En', 'Restaurant Theme_Molino',
       'Restaurant Theme_Moonrise', 'Restaurant Theme_Nature',
       'Restaurant Theme_Parsi', 'Restaurant Theme_Petit',
       'Restaurant Theme_Picante', 'Restaurant Theme_Piquant',
       'Restaurant Theme_Resca', 'Restaurant Theme_Sage',
       'Restaurant Theme_Savory', 'Restaurant Theme_Spoon',
       'Restaurant Theme_TheGem', 'Restaurant Theme_Umami'],
      dtype='object')

In [126]:
X=X.drop(columns=['Annual Turnover'],axis=0)

In [127]:
y=data['Annual Turnover']

In [128]:
X=sm.add_constant(X)

In [108]:
#X_scaled=X.apply(zscore)

C:\Users\AS20188795\Anaconda3\lib\site-packages\scipy\stats\stats.py:2500: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd

In [129]:
X_train,X_test,Y_train,Y_test=train_test_split(X,y,random_state = 1, test_size = 0.2)

In [113]:
X_train.head()

,const,Registration Number,Facebook Popularity Quotient,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,Situated in a Multi Complex,Dedicated Parking,Open Sitting Available,Resturant Tier,...,Service,Comfortablility,Privacy,year,Restaurant Location_Near Party Hub,Endorsed By_Not Specific,Endorsed By_Tier A Celebrity,Restaurant Type_Buffet/Family Restaurant,Restaurant Type_Caffee,Restaurant Type_Gastro Bar
3239,1.0,63240,72.00,62.80,1,1,1,1,1,2.0,...,5,6,3,2011,1,0,1,0,0,0
2773,1.0,62774,86.34,83.70,1,1,1,1,1,2.0,...,8,4,7,2010,1,1,0,0,0,0
936,1.0,60937,69.00,66.60,1,1,1,1,1,2.0,...,5,4,7,2008,1,0,1,0,0,0
432,1.0,60433,86.88,80.83,1,1,1,1,1,2.0,...,5,6,7,2011,1,1,0,0,0,0
2977,1.0,62978,50.00,62.23,1,1,1,1,1,2.0,...,6,5,8,2010,1,1,0,0,0,0

In [130]:
olsModel=sm.OLS(Y_train,X_train).fit()

In [92]:
y_pred=olsModel.predict(X_test)

In [132]:
print(olsModel.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Annual Turnover   R-squared:                       0.164
Model:                            OLS   Adj. R-squared:                  0.146
Method:                 Least Squares   F-statistic:                     9.241
Date:                Fri, 14 May 2021   Prob (F-statistic):           1.66e-70
Time:                        12:23:03   Log-Likelihood:                -50588.
No. Observations:                2794   AIC:                         1.013e+05
Df Residuals:                    2735   BIC:                         1.016e+05
Df Model:                          58
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
const                                     4.834e+09   4.23e+08     11.424      0.000       4e+09    5.66e+09
Registration Number                       -265.4077    337.935     -0.785      0.432    -928.041     397.226
Facebook Popularity Quotient              1.272e+05   4.89e+04      2.602      0.009    3.13e+04    2.23e+05
Instagram Popularity Quotient             2.122e+05   4.37e+04      4.861      0.000    1.27e+05    2.98e+05
Fire Audit                                1.668e+06   8.41e+05      1.983      0.047    1.85e+04    3.32e+06
Liquor License Obtained                   2.103e+06   3.43e+06      0.613      0.540   -4.62e+06    8.83e+06
Situated in a Multi Complex              -2.995e+06   8.71e+05     -3.440      0.001    -4.7e+06   -1.29e+06
Dedicated Parking                           1.9e+06   8.58e+05      2.213      0.027    2.17e+05    3.58e+06
Open Sitting Available                    4.632e+05   8.56e+05      0.541      0.588   -1.21e+06    2.14e+06
Resturant Tier                           -8.387e+06   1.44e+06     -5.819      0.000   -1.12e+07   -5.56e+06
Restaurant Zomato Rating                  1.532e+06    4.9e+05      3.125      0.002    5.71e+05    2.49e+06
Restaurant City Tier                     -1.661e+06   7.73e+05     -2.150      0.032   -3.18e+06   -1.46e+05
Order Wait Time                           6.841e+04    1.2e+05      0.570      0.569   -1.67e+05    3.04e+05
Staff Responsivness                       1.195e+06   3.73e+05      3.207      0.001    4.65e+05    1.93e+06
Value for Money                           8.713e+05   4.63e+05      1.882      0.060   -3.64e+04    1.78e+06
Hygiene Rating                            1.224e+06   3.37e+05      3.631      0.000    5.63e+05    1.88e+06
Food Rating                               3.836e+05   1.99e+05      1.929      0.054   -6284.874    7.74e+05
Overall Restaurant Rating                     5e+05   2.84e+05      1.760      0.078   -5.69e+04    1.06e+06
Ambience                                 -3.695e+05   2.04e+05     -1.813      0.070   -7.69e+05    3.02e+04
Lively                                    4.678e+05    2.5e+05      1.870      0.062   -2.28e+04    9.58e+05
Service                                    1.08e+05    2.1e+05      0.514      0.607   -3.04e+05     5.2e+05
Comfortablility                          -2.015e+05   1.85e+05     -1.090      0.276   -5.64e+05    1.61e+05
Privacy                                  -3.694e+05   2.23e+05     -1.659      0.097   -8.06e+05    6.73e+04
year                                       -2.4e+06   2.11e+05    -11.369      0.000   -2.81e+06   -1.99e+06
Restaurant Location_Near Party Hub        2.427e+06   8.37e+05      2.899      0.004    7.85e+05    4.07e+06
Endorsed By_Not Specific                  -1.96e+06   3.57e+06     -0.550      0.583   -8.95e+06    5.03e+06
Endorsed By_Tier A Celebrity             -2.073e+06   3.58e+06     -0.579      0.563    -9.1e+06    4.95e+06
Restaurant Type_Buffet/Family Restaurant  5.975e+06   9.04e+06      0.661      0.508   -1.17e+07    2.37e+07
Restaurant Type_Caffee                   -4.145e+06   1.75e+06     -2.372      0.018   -7.57e+06   -7.19e+05
Restaurant Type_Gastro Bar               -4.597e+05   3.28e+06     -0.140      0.888   -6.88e+06    5.96e+06
Restaurant Theme_Ambiance                -1.157e+07   1.79e+07     -0.645      0.519   -4.68e+07    2.36e+07
Restaurant Theme_Arabian                  8.529e+05   1.02e+06      0.839      0.401   -1.14e+06    2.85e+06
Restaurant Theme_Bakery                  -3.905e-08   4.66e-08     -0.839      0.402    -1.3e-07    5.22e-08
Restaurant Theme_Belise                  -7.806e+06   5.26e+06     -1.485      0.138   -1.81e+07     2.5e+06
Restaurant Theme_Benedicta               -6.055e+05   1.05e+07     -0.058      0.954   -2.11e+07    1.99e+07
Restaurant Theme_Bettaso                 -1.359e+07   1.28e+07     -1.064      0.287   -3.86e+07    1.14e+07
Restaurant Theme_Cafepro                  5.068e+06   1.27e+07      0.400      0.690   -1.98e+07    2.99e+07
Restaurant Theme_Carbone                   5.72e+06   9.04e+06      0.633      0.527    -1.2e+07    2.34e+07
Restaurant Theme_Chinese                 -2.113e+06   2.49e+06     -0.850      0.395   -6.99e+06    2.76e+06
Restaurant Theme_Cinnamon                 1.144e-08   1.13e-08      1.013      0.311   -1.07e-08    3.36e-08
Restaurant Theme_Delicio                  1.686e+06   4.34e+06      0.388      0.698   -6.83e+06    1.02e+07
Restaurant Theme_Downtown                 6.732e+06   6.39e+06      1.053      0.293   -5.81e+06    1.93e+07
Restaurant Theme_English                   2.37e+06    4.9e+06      0.484      0.628   -7.23e+06     1.2e+07
Restaurant Theme_Flavors                 -7.695e-09   6.52e-09     -1.180      0.238   -2.05e-08    5.09e-09
Restaurant Theme_Grand                   -1.527e+07   1.83e+07     -0.836      0.403   -5.11e+07    2.05e+07
Restaurant Theme_Greek                   -2.359e+06   1.05e+06     -2.252      0.024   -4.41e+06   -3.05e+05
Restaurant Theme_Italica                 -5.818e+06   1.79e+07     -0.324      0.746    -4.1e+07    2.94e+07
Restaurant Theme_LaCuisine                2.968e+07   1.83e+07      1.625      0.104   -6.13e+06    6.55e+07
Restaurant Theme_Marco                   -8.329e+06      9e+06     -0.925      0.355    -2.6e+07    9.32e+06
Restaurant Theme_Mise En                   -6.1e+06   1.27e+07     -0.479      0.632   -3.11e+07    1.89e+07
Restaurant Theme_Molino                   2.771e+06   4.72e+06      0.587      0.557   -6.49e+06     1.2e+07
Restaurant Theme_Moonrise                -1.023e+07   6.31e+06     -1.621      0.105   -2.26e+07    2.14e+06
Restaurant Theme_Nature                   6.258e+05   1.75e+06      0.358      0.720    -2.8e+06    4.05e+06
Restaurant Theme_Parsi                   -2.248e+06   2.15e+06     -1.045      0.296   -6.47e+06    1.97e+06
Restaurant Theme_Petit                   -6.409e+06   9.05e+06     -0.708      0.479   -2.42e+07    1.13e+07
Restaurant Theme_Picante                   -4.4e+06   1.04e+07     -0.423      0.672   -2.48e+07     1.6e+07
Restaurant Theme_Piquant                  5.975e+06   9.04e+06      0.661      0.508   -1.17e+07    2.37e+07
Restaurant Theme_Resca                   -1.066e+07   1.29e+07     -0.830      0.407   -3.59e+07    1.45e+07
Restaurant Theme_Sage                    -1.218e+06   1.82e+07     -0.067      0.947    -3.7e+07    3.46e+07
Restaurant Theme_Savory                   6.248e+06   1.27e+07      0.491      0.623   -1.87e+07    3.12e+07
Restaurant Theme_Spoon                   -1.069e+07   1.79e+07     -0.595      0.552   -4.59e+07    2.45e+07
Restaurant Theme_TheGem                    8.72e+05   7.37e+06      0.118      0.906   -1.36e+07    1.53e+07
Restaurant Theme_Umami                   -1.426e+07   1.04e+07     -1.373      0.170   -3.46e+07    6.11e+06
==============================================================================
Omnibus:                     3307.369   Durbin-Watson:                   1.956
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           639121.427
Skew:                           5.964   Prob(JB):                         0.00
Kurtosis:                      76.128   Cond. No.                     6.57e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.47e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [133]:
mse_train = mean_squared_error(Y_test, y_pred)
rmse_train = round(np.sqrt(mse_train), 4)
print("Root Mean Squared Error (RMSE) on training set: ", rmse_train)

Root Mean Squared Error (RMSE) on training set:  27739388.2436

In [134]:
olsModel_pvalues = pd.DataFrame(olsModel.pvalues, columns = ["P-Value"])
significant_var=olsModel_pvalues[olsModel_pvalues['P-Value']<0.05]
signi_var = significant_var.index.to_list()
signi_var

['const',
 'Facebook Popularity Quotient',
 'Instagram Popularity Quotient',
 'Fire Audit',
 'Situated in a Multi Complex',
 'Dedicated Parking',
 'Resturant Tier',
 'Restaurant Zomato Rating',
 'Restaurant City Tier',
 'Staff Responsivness',
 'Hygiene Rating',
 'year',
 'Restaurant Location_Near Party Hub',
 'Restaurant Type_Caffee',
 'Restaurant Theme_Greek']

In [136]:
# Working on Test Set
test=pd.read_csv('Test_dataset.csv')

In [137]:
test.head(2)

,Registration Number,Cuisine,City,Restaurant Location,Opening Day of Restaurant,Facebook Popularity Quotient,Endoresed By,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,...,Overall Restaurant Rating,Live Music Rating,Comedy Gigs Rating,Value Deals Rating,Live Sports Rating,Ambience,Lively,Service,Comfortablility,Privacy
0,20001,"tibetan,italian",Bangalore,Near Business Hub,13-07-2010,78.00,Tier A Celebrity,69.0,1,1,...,6.0,NaN,2.0,NaN,NaN,5,2,2,6,0
1,20002,"tibetan,italian",Hyderabad,Near Party Hub,05-09-2011,89.17,Not Specific,96.0,1,1,...,9.0,3.0,NaN,NaN,6.0,7,8,5,1,8

In [142]:
#test=test.drop(columns=['Live Sports Rating','Value Deals Rating','Comedy Gigs Rating'],axis=0)
#test=test.drop(columns=['Opening Day of Restaurant'],axis=0)#'Live Sports Rating',
#test=test.drop(columns=['Cuisine'],axis=0)
#test=test.drop(columns=['City'],axis=0)
#test=test.drop(columns=['Live Music Rating'],axis=0)
#test=test.drop(columns=['Comedy Gigs Rating'],axis=0)
#test=test.drop(columns=['Value Deals Rating'],axis=0)
#test=test.drop(columns=['Live Sports Rating'],axis=0)
#test=test.drop(columns=['Restaurant Theme'],axis=0)

In [143]:
test.head(2)

,Registration Number,Restaurant Location,Facebook Popularity Quotient,Endoresed By,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,Situated in a Multi Complex,Dedicated Parking,Open Sitting Available,...,Staff Responsivness,Value for Money,Hygiene Rating,Food Rating,Overall Restaurant Rating,Ambience,Lively,Service,Comfortablility,Privacy
0,20001,Near Business Hub,78.00,Tier A Celebrity,69.0,1,1,1,1,0,...,5,3,5,8,6.0,5,2,2,6,0
1,20002,Near Party Hub,89.17,Not Specific,96.0,1,1,1,1,1,...,4,5,6,8,9.0,7,8,5,1,8

In [145]:
test['Overall Restaurant Rating']=test['Overall Restaurant Rating'].fillna(test['Overall Restaurant Rating'].median())
test['Facebook Popularity Quotient']=test['Facebook Popularity Quotient'].fillna(test['Facebook Popularity Quotient'].median())
test['Instagram Popularity Quotient']=test['Instagram Popularity Quotient'].fillna(test['Instagram Popularity Quotient'].median())
test['Resturant Tier']=test['Resturant Tier'].fillna(data['Resturant Tier'].median())
test['Ambience']=test['Ambience'].fillna(test['Ambience'].median())

In [148]:
test_data_cat=test.select_dtypes(include = [np.object])
test_data_cat=pd.get_dummies(test_data_cat,drop_first = True)
test_data_num=data.select_dtypes(include = [np.number])
X_testData=pd.concat([data_num,data_cat],axis=1)

In [152]:
ytest_pred=olsModel.predict(X_testData)