In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
pwd

'C:\\Users\\Admin\\Ashwin space'

In [2]:
df=pd.read_excel('MT103.xlsx')

In [3]:
df.head()

,MT103_SL_NO,SENDER,RECEIVER,REFERENCE_NUMBER,BANK_CODE,VALUE_DATE,CURRENCY_CODE,AMOUNT,FILE_NAME,STATUS,...,CORROS_ID,CTRL_STATUS,PROCESSED_DATE,PROCESSED_USER,HOSTNAME,UETR,BALAMT,SEN_CORRESPONDENT,REC_CORRESPONDENT,INTERMEDIARY_INS
0,190919100094610,CHASUS33NXXX,KKBKINBBAXXX,1349343262FS,CRED,19-SEP-19,USD,3975.80,20190919204848686MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,190920100095495,CITIUS33FXXX,KKBKINBBAXXX,S06926216A5701,CRED,20-SEP-19,USD,5021.00,20190920111447053MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,190920100095496,SCBLDEFXAXXX,KKBKINBBAXXX,190920014940,CRED,20-SEP-19,EUR,62382.30,20190920111404821MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,190920100095498,CITIUS33EXXX,KKBKINBBAXXX,S0692611ED7A01,CRED,20-SEP-19,USD,6000.00,20190920111502729MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,190918100092761,CITIUS33BXXX,KKBKINBBAXXX,S06926120EB701,CRED,18-SEP-19,USD,248.01,20190918195937169MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5428 entries, 0 to 5427
Data columns (total 68 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   MT103_SL_NO            5428 non-null   int64
 1   SENDER                 5428 non-null   object
 2   RECEIVER               5428 non-null   object
 3   REFERENCE_NUMBER       5428 non-null   object
 4   BANK_CODE              5428 non-null   object
 5   VALUE_DATE             5428 non-null   object
 6   CURRENCY_CODE          5428 non-null   object
 7   AMOUNT                 5428 non-null   float64
 8   FILE_NAME              5428 non-null   object
 9   STATUS                 5428 non-null   object
 10  ORD_ACCNO              5420 non-null   object
 11  ORD_NAME               5428 non-null   object
 12  ORD_ADDR1              5427 non-null   object
 13  ORD_ADDR2              5348 non-null   object
 14  ORD_ADDR3              2802 non-null   object
 15  BENEF_NO               5418 non-null   object
 16  BENEF_NAME             5428 non-null   object
 17  BENEF_ADDR1            4620 non-null   object
 18  BENEF_ADDR2            4064 non-null   object
 19  BENEF_ADDR3            2336 non-null   object
 20  ORD_INS                4439 non-null   object
 21  REM_INFO               4993 non-null   object
 22  SENDER_RECEVIER        1924 non-null   object
 23  CHARGE_DETAILS         5428 non-null   object
 24  QUEUE_TYPE             5428 non-null   object
 25  CREATED_DATE           5428 non-null   object
 26  UPDATED_BY             54 non-null     object
 27  REMARKS                54 non-null     object
 28  CHECKER_RESERVED_BY    47 non-null     object
 29  CHECKER_REMARKS        54 non-null     object
 30  PROCESS_STATUS         0 non-null      float64
 31  MESSAGE_DATA           5428 non-null   object
 32  UPDATED_DATE           54 non-null     object
 33  CTQ_STATUS             856 non-null    object
 34  TEMP_QUEUE_TYPE        0 non-null      float64
 35  CTQ_MAKER_REMARKS      856 non-null    object
 36  CTQ_CHECKER_REMARKS    856 non-null    object
 37  CTQ_MAKER_USERID       856 non-null    object
 38  CTQ_CHECKER_USERID     855 non-null    object
 39  CTQ_CREATED_TIME       856 non-null    object
 40  CTQ_UPDATED_TIME       856 non-null    object
 41  PROCESS_TYPE           4828 non-null   object
 42  CH_BEN_ACC_NO          806 non-null    float64
 43  ORD_INS_ADDR1          610 non-null    object
 44  ORD_INS_ADDR2          590 non-null    object
 45  ORD_INS_ADDR3          533 non-null    object
 46  ORD_INS_ADDR4          279 non-null    object
 47  RESPQ_STATUS           69 non-null     object
 48  RESPQ_MAKER_REMARKS    69 non-null     object
 49  RESPQ_CHECKER_REMARKS  63 non-null     object
 50  RESPQ_MAKER_USERID     69 non-null     object
 51  RESPQ_CHECKER_USERID   63 non-null     object
 52  RESPQ_CREATED_TIME     69 non-null     object
 53  RESPQ_UPDATED_TIME     63 non-null     object
 54  RESPQ_TEMPLATE         7 non-null      float64
 55  EXCEL_STATUS           3 non-null      object
 56  EXCEL_DWLD_DATE        3 non-null      object
 57  EXCEL_DWLD_ID          3 non-null      float64
 58  CORROS_ID              1 non-null      object
 59  CTRL_STATUS            5428 non-null   object
 60  PROCESSED_DATE         8 non-null      object
 61  PROCESSED_USER         8 non-null      object
 62  HOSTNAME               2 non-null      object
 63  UETR                   0 non-null      float64
 64  BALAMT                 0 non-null      float64
 65  SEN_CORRESPONDENT      0 non-null      float64
 66  REC_CORRESPONDENT      0 non-null      float64
 67  INTERMEDIARY_INS       0 non-null      float64
dtypes: float64(11), int64(1), object(56)
memory usage: 2.8+ MB

In [9]:
df[df['AMOUNT']<10]

,MT103_SL_NO,SENDER,RECEIVER,REFERENCE_NUMBER,BANK_CODE,VALUE_DATE,CURRENCY_CODE,AMOUNT,FILE_NAME,STATUS,...,CORROS_ID,CTRL_STATUS,PROCESSED_DATE,PROCESSED_USER,HOSTNAME,UETR,BALAMT,SEN_CORRESPONDENT,REC_CORRESPONDENT,INTERMEDIARY_INS
1802,190812100038181,PNBPUS3NBNYC,KKBKINBBAXXX,F60809358036000,CRED,09-AUG-19,USD,0.01,20190813022244292MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,190812100038844,CHASUS33SXXX,KKBKINBBACPC,3317467224FS,CRED,12-AUG-19,USD,5.00,20190813041302085MT103.swift,P,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2426,190812100038953,BARCGB22EXXX,KKBKINBBAXXX,PET413234224,CRED,12-AUG-19,GBP,5.00,20190813033757793MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4874,190813100041545,BOFAUS3NAXXX,KKBKINBBAXXX,2019080800317266,CRED,14-AUG-19,USD,1.00,20190814055153904MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df[(df['AMOUNT']>1) & (df['AMOUNT']<10) ]

,MT103_SL_NO,SENDER,RECEIVER,REFERENCE_NUMBER,BANK_CODE,VALUE_DATE,CURRENCY_CODE,AMOUNT,FILE_NAME,STATUS,...,CORROS_ID,CTRL_STATUS,PROCESSED_DATE,PROCESSED_USER,HOSTNAME,UETR,BALAMT,SEN_CORRESPONDENT,REC_CORRESPONDENT,INTERMEDIARY_INS
2160,190812100038844,CHASUS33SXXX,KKBKINBBACPC,3317467224FS,CRED,12-AUG-19,USD,5.0,20190813041302085MT103.swift,P,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2426,190812100038953,BARCGB22EXXX,KKBKINBBAXXX,PET413234224,CRED,12-AUG-19,GBP,5.0,20190813033757793MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.iloc[2426]

MT103_SL_NO          190812100038953
SENDER                  BARCGB22EXXX
RECEIVER                KKBKINBBAXXX
REFERENCE_NUMBER        PET413234224
BANK_CODE                       CRED
                          ...
UETR                             NaN
BALAMT                           NaN
SEN_CORRESPONDENT                NaN
REC_CORRESPONDENT                NaN
INTERMEDIARY_INS                 NaN
Name: 2426, Length: 68, dtype: object

In [26]:
df.BENEF_NO

0         3211674923
1       7512 5852 47
2         3412799661
3         9512946653
4         4211618856
            ...
5423    139011009852
5424      5712431395
5425      0112208639
5426      6012117156
5427    429011022970
Name: BENEF_NO, Length: 5428, dtype: object

In [30]:
df.isnull()
df.notnull()
df.notna()

,MT103_SL_NO,SENDER,RECEIVER,REFERENCE_NUMBER,BANK_CODE,VALUE_DATE,CURRENCY_CODE,AMOUNT,FILE_NAME,STATUS,...,CORROS_ID,CTRL_STATUS,PROCESSED_DATE,PROCESSED_USER,HOSTNAME,UETR,BALAMT,SEN_CORRESPONDENT,REC_CORRESPONDENT,INTERMEDIARY_INS
0,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
2,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
3,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
4,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5423,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
5424,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
5425,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
5426,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
5427,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False

In [37]:
df['QUEUE_TYPE'].value_counts()

EXPQ     5248
IC2RQ      54
CLSQ       48
IUNQ       38
IOQ        26
MANQ       11
ISQ         3
Name: QUEUE_TYPE, dtype: int64

In [38]:
df['AMOUNT'].rank()

0       2107.0
1       2415.0
2       4880.0
3       2560.5
4        259.0
         ...
5423    2026.0
5424    1289.0
5425     455.0
5426    2834.0
5427    2332.0
Name: AMOUNT, Length: 5428, dtype: float64

In [51]:
df.sort_values('AMOUNT',ascending=False)

,MT103_SL_NO,SENDER,RECEIVER,REFERENCE_NUMBER,BANK_CODE,VALUE_DATE,CURRENCY_CODE,AMOUNT,FILE_NAME,STATUS,...,CORROS_ID,CTRL_STATUS,PROCESSED_DATE,PROCESSED_USER,HOSTNAME,UETR,BALAMT,SEN_CORRESPONDENT,REC_CORRESPONDENT,INTERMEDIARY_INS
247,190919100093854,MRMDUS33DXXX,KKBKINBBACUS,262400112,CRED,19-SEP-19,USD,20572000.00,20190919132440398MT103.swift,A,...,,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3858,190813100040511,IRVTUS3NWXXX,KKBKINBBAXXX,F9S1908138983400,CRED,13-AUG-19,USD,19999985.00,20190813125843891MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4296,190813100040956,FIRNZAJJAXXX,KKBKINBBAXXX,S657DF1073112799,CRED,13-AUG-19,ZAR,16003909.86,20190813175818735MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3760,190813100040988,CHASUS33TXXX,KKBKINBBACPC,5730600225FC,CRED,13-AUG-19,USD,11000000.00,20190813183625855MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5301,190813100041373,IRVTUS3NQXXX,KKBKINBBAXXX,FDF1908131654300,CRED,13-AUG-19,USD,9537546.00,20190814001504679MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2117,190812100039453,DEUTDEFFGXXX,KKBKINBBAXXX,03MT190812143091,CRED,12-AUG-19,EUR,10.00,20190813034149637MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,190812100038844,CHASUS33SXXX,KKBKINBBACPC,3317467224FS,CRED,12-AUG-19,USD,5.00,20190813041302085MT103.swift,P,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2426,190812100038953,BARCGB22EXXX,KKBKINBBAXXX,PET413234224,CRED,12-AUG-19,GBP,5.00,20190813033757793MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4874,190813100041545,BOFAUS3NAXXX,KKBKINBBAXXX,2019080800317266,CRED,14-AUG-19,USD,1.00,20190814055153904MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1802,190812100038181,PNBPUS3NBNYC,KKBKINBBAXXX,F60809358036000,CRED,09-AUG-19,USD,0.01,20190813022244292MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df[['AMOUNT','CURRENCY_CODE','BENEF_NO']].sort_values('AMOUNT')

           AMOUNT CURRENCY_CODE        BENEF_NO
1802         0.01           USD    550044011089
4874         1.00           USD      3012840541
2160         5.00           USD       400913062
2426         5.00           GBP      0912567523
2117        10.00           EUR      5911987052
...           ...           ...             ...
5301   9537546.00           USD      2911815780
3760  11000000.00           USD      1611908631
4296  16003909.86           ZAR  01722560002523
3858  19999985.00           USD      9011649260
247   20572000.00           USD       400913062

[5428 rows x 3 columns]

In [67]:
df[df['AMOUNT']<15]

,MT103_SL_NO,SENDER,RECEIVER,REFERENCE_NUMBER,BANK_CODE,VALUE_DATE,CURRENCY_CODE,AMOUNT,FILE_NAME,STATUS,...,CORROS_ID,CTRL_STATUS,PROCESSED_DATE,PROCESSED_USER,HOSTNAME,UETR,BALAMT,SEN_CORRESPONDENT,REC_CORRESPONDENT,INTERMEDIARY_INS
1376,190812100037787,SCBLGB2LAXXX,KKBKINBBAXXX,RBH090890LK90JCW,CRED,09-AUG-19,GBP,13.67,20190813010233453MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1802,190812100038181,PNBPUS3NBNYC,KKBKINBBAXXX,F60809358036000,CRED,09-AUG-19,USD,0.01,20190813022244292MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2117,190812100039453,DEUTDEFFGXXX,KKBKINBBAXXX,03MT190812143091,CRED,12-AUG-19,EUR,10.00,20190813034149637MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,190812100038844,CHASUS33SXXX,KKBKINBBACPC,3317467224FS,CRED,12-AUG-19,USD,5.00,20190813041302085MT103.swift,P,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2207,190812100038806,ESSESESSDXXX,KKBKINBBAXXX,USI5560-7139245,CRED,12-AUG-19,USD,10.58,20190813040553085MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2426,190812100038953,BARCGB22EXXX,KKBKINBBAXXX,PET413234224,CRED,12-AUG-19,GBP,5.00,20190813033757793MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4874,190813100041545,BOFAUS3NAXXX,KKBKINBBAXXX,2019080800317266,CRED,14-AUG-19,USD,1.00,20190814055153904MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.rename(columns={'MT103_SL_NO':'SERIALNO'},inplace=True)

In [71]:
df.head()

,SERIALNO,SENDER,RECEIVER,REFERENCE_NUMBER,BANK_CODE,VALUE_DATE,CURRENCY_CODE,AMOUNT,FILE_NAME,STATUS,...,CORROS_ID,CTRL_STATUS,PROCESSED_DATE,PROCESSED_USER,HOSTNAME,UETR,BALAMT,SEN_CORRESPONDENT,REC_CORRESPONDENT,INTERMEDIARY_INS
0,190919100094610,CHASUS33NXXX,KKBKINBBAXXX,1349343262FS,CRED,19-SEP-19,USD,3975.80,20190919204848686MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,190920100095495,CITIUS33FXXX,KKBKINBBAXXX,S06926216A5701,CRED,20-SEP-19,USD,5021.00,20190920111447053MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,190920100095496,SCBLDEFXAXXX,KKBKINBBAXXX,190920014940,CRED,20-SEP-19,EUR,62382.30,20190920111404821MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,190920100095498,CITIUS33EXXX,KKBKINBBAXXX,S0692611ED7A01,CRED,20-SEP-19,USD,6000.00,20190920111502729MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,190918100092761,CITIUS33BXXX,KKBKINBBAXXX,S06926120EB701,CRED,18-SEP-19,USD,248.01,20190918195937169MT103.swift,A,...,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
df.drop(['BENEF_ADDR1','BENEF_ADDR2','BENEF_ADDR3','ORD_ADDR1','ORD_ADDR2','ORD_ADDR3'],axis=1,inplace=True)

In [96]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5428 entries, 0 to 5427
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SERIALNO          5428 non-null   int64
 1   SENDER            5428 non-null   object
 2   REFERENCE_NUMBER  5428 non-null   object
 3   BANK_CODE         5428 non-null   object
 4   VALUE_DATE        5428 non-null   object
 5   CURRENCY_CODE     5428 non-null   object
 6   AMOUNT            5428 non-null   float64
 7   FILE_NAME         5428 non-null   object
 8   STATUS            5428 non-null   object
 9   ORD_ACCNO         5420 non-null   object
 10  ORD_NAME          5428 non-null   object
 11  BENEF_NO          5418 non-null   object
 12  BENEF_NAME        5428 non-null   object
 13  ORD_INS           4439 non-null   object
 14  REM_INFO          4993 non-null   object
 15  SENDER_RECEVIER   1924 non-null   object
 16  QUEUE_TYPE        5428 non-null   object
 17  CREATED_DATE      5428 non-null   object
 18  MESSAGE_DATA      5428 non-null   object
 19  PROCESS_TYPE      4828 non-null   object
 20  CH_BEN_ACC_NO     806 non-null    float64
dtypes: float64(2), int64(1), object(18)
memory usage: 890.7+ KB

(5428, 21)

In [107]:
df.groupby(['BENEF_NO','AMOUNT'])['QUEUE_TYPE'].count()

BENEF_NO              AMOUNT
0 89792080000018      180.68       1
00000000002311468449  7000.00      1
0000006699            290083.60    1
00004454711942628     6508.38      1
000201516755          6000.00      1
                                  ..
NRE5912868830         248.39       1
NRE9511577940         2255.00      1
NRESB2513246807       3500.00      1
NRESB548010059338     7400.00      1
NRESB548010061619     3000.00      1
Name: QUEUE_TYPE, Length: 5367, dtype: int64

In [108]:
df.groupby(['AMOUNT'].filter(lambda x : AMOUNT <15))

AttributeError: 'list' object has no attribute 'filter'

In [115]:
df.groupby(['AMOUNT']).filter(lambda x: df['AMOUNT'].count()==1)

Empty DataFrame
Columns: [SERIALNO, SENDER, REFERENCE_NUMBER, BANK_CODE, VALUE_DATE, CURRENCY_CODE, AMOUNT, FILE_NAME, STATUS, ORD_ACCNO, ORD_NAME, BENEF_NO, BENEF_NAME, ORD_INS, REM_INFO, SENDER_RECEVIER, QUEUE_TYPE, CREATED_DATE, MESSAGE_DATA, PROCESS_TYPE, CH_BEN_ACC_NO]
Index: []

[0 rows x 21 columns]

In [123]:
df.groupby('BENEF_NO')['AMOUNT'].groups

BENEF_NO
0 89792080000018           180.68
00000000002311468449      7000.00
0000006699              290083.60
00004454711942628         6508.38
000201516755              6000.00
                          ...
NRE5912868830              248.39
NRE9511577940             2255.00
NRESB2513246807           3500.00
NRESB548010059338         7400.00
NRESB548010061619         3000.00
Name: AMOUNT, Length: 3447, dtype: float64

In [134]:
x=df.groupby('BENEF_NO')['AMOUNT'].sum().head(30)
for key, values in x:
    print(df[values])

TypeError: cannot unpack non-iterable float object

In [156]:

for key, values in df.iteritems():
        print(df.items)

<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A


<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A


<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A

                         ORD_ACCNO  ...      BENEF_NO  \
0                         11721909  ...    3211674923
1                     /40235300004  ...  7512 5852 47
2          /DE64741500000430173302  ...    3412799661
3                          /412791  ...    9512946653
4                         36397302  ...    4211618856
...                            ...  ...           ...
5423       /DE66500800000449795800  ...  139011009852
5424        IE70AIBK93006725228774  ...    5712431395
5425  PL83109018410000000115211683  ...    0112208639
5426                    0344244375  ...    6012117156
5427       /DE74700400410227466000  ...  429011022970

                               BENEF_NAME      ORD_INS  \
0             MOHAMMED RIYAZ AHMED FAROOQ     LOYDGB2L
1              UNICO TILE PRIVATE LIMITED  ATTGTGTGXXX
2             PATEL TECHNOMATION PVT. LTD  BYLADEM1DEG
3                       OPTIPLUS OPTICALS  NBMAMWMWXXX
4                       MR RAJIV AGGARWAL  IBRDUS33XXX
...                                   ...          ...
5423  TRANSCEND CREATIVE SERVICES PVT.LTD     COBADEFF
5424                      MOHAMMED SALEEM          NaN
5425  NEW GLOBAL ENTERPRISES, BANDRA KURL     WBKPPLPP
5426                      BONANZA EXPORTS  BARCUGKXXXX
5427               CROWN QUALITY SERVICES     COBADEHH

                                               REM_INFO  \
0     PROFESSIONAL IT CONSULTANCY SERVICEPYMNT INV 0...
1                                     /INV/ DTD06072019
2           25.06.19 19034 62.412,30 PURPOSE CODE P0101
3                                            INV NO 011
4                                           1000856804,
...                                                 ...
5423                      201903103/201904001/201904006
5424                                     FEES JULY 2019
5425  PRO.140819 / KRZYSZTOF WLODARCZYK /SORAFENAT /...
5426                                  HOT RUNNER SYSTEM
5427                NO.TO-11022019-14 FROM 11.02.2019 W

                                        SENDER_RECEVIER QUEUE_TYPE  \
0                                                   NaN       EXPQ
1                                                   NaN       EXPQ
2                                                   NaN       EXPQ
3                                                   NaN       EXPQ
4     /ACC/KKBK0005029 //BANDRA KURLA COMPLEX 27, //...       EXPQ
...                                                 ...        ...
5423                                                NaN       EXPQ
5424                                                NaN       EXPQ
5425                                                NaN       EXPQ
5426  /ACC/KOTAK MAHINDRA BANK LIMITED //BAKHTAWAR M...       EXPQ
5427                                                NaN       EXPQ

                         CREATED_DATE  \
0     19-SEP-19 08.49.00.048131000 PM
1     20-SEP-19 11.15.00.048761000 AM
2     20-SEP-19 11.15.00.696546000 AM
3     20-SEP-19 11.16.02.776903000 AM
4     18-SEP-19 08.00.00.776889000 PM
...                               ...
5423  14-AUG-19 07.48.00.011777000 PM
5424  14-AUG-19 05.37.00.862290000 PM
5425  14-AUG-19 05.48.03.065841000 PM
5426  14-AUG-19 05.56.00.616912000 PM
5427  14-AUG-19 04.39.57.267443000 PM

                                           MESSAGE_DATA PROCESS_TYPE  \
0     {1:F01KKBKINBBAXXX7761555921}{2:O1031118190919...       Branch
1     {1:F01KKBKINBBAXXX7763559587}{2:O1030144190920...          NaN
2     {1:F01KKBKINBBAXXX7763559583}{2:O1030743190920...       Branch
3     {1:F01KKBKINBBAXXX7763559588}{2:O1030144190920...       Branch
4     {1:F01KKBKINBBAXXX7759549562}{2:O1031029190918...       Branch
...                                                 ...          ...
5423  {1:F01KKBKINBBAXXX7687391629}{2:O1031616190814...       Branch
5424  {1:F01KKBKINBBACPC7687391119}{2:O1031306190814...       Branch
5425  {1:F01KKBKINBBAXXX7687391149}{2:O1030817190814...       Branch
5426  {1:F01KKBKINBBAXXX7687391185}{2:O1030825190814...       Branch
5427  {1:F01KKBKINBBAXXX7687390492}{2:O1031135190814...       Branch

     CH_BEN_ACC_NO
0              NaN
1     7.512585e+09
2              NaN
3              NaN
4              NaN
...            ...
5423           NaN
5424           NaN
5425           NaN
5426           NaN
5427           NaN

[5428 rows x 21 columns]>
<bound method DataFrame.items of              SERIALNO        SENDER  REFERENCE_NUMBER BANK_CODE VALUE_DATE  \
0     190919100094610  CHASUS33NXXX      1349343262FS      CRED  19-SEP-19
1     190920100095495  CITIUS33FXXX    S06926216A5701      CRED  20-SEP-19
2     190920100095496  SCBLDEFXAXXX      190920014940      CRED  20-SEP-19
3     190920100095498  CITIUS33EXXX    S0692611ED7A01      CRED  20-SEP-19
4     190918100092761  CITIUS33BXXX    S06926120EB701      CRED  18-SEP-19
...               ...           ...               ...       ...        ...
5423  190814100042712  COBADEFFBXXX  AZMA922605633700      CRED  16-AUG-19
5424  190814100042510  AIBKIE2DAXXX  IE19081413659755      CRED  15-AUG-19
5425  190814100042520  IRVTUS3NHXXX  FTS1908148728100      CRED  14-AUG-19
5426  190814100042548  CITIUS33DXXX    S0692261422C01      CRED  14-AUG-19
5427  190814100042241  COBADEFFHXXX  AZNA922603109100      CRED  16-AUG-19

     CURRENCY_CODE    AMOUNT                     FILE_NAME STATUS  \
0              USD   3975.80  20190919204848686MT103.swift      A
1              USD   5021.00  20190920111447053MT103.swift      A
2              EUR  62382.30  20190920111404821MT103.swift      A
3              USD   6000.00  20190920111502729MT103.swift      A
4              USD    248.01  20190918195937169MT103.swift      A
...            ...       ...                           ...    ...
5423           EUR   3613.15  20190814194705918MT103.swift      A
5424           USD   1700.00  20190814173619062MT103.swift      A
5425           USD    450.00  20190814174713899MT103.swift      A
5426           USD   7656.30  20190814175542554MT103.swift      A
5427           USD   4884.02  20190814150535213MT103.swift      A
