# TAKE HOME LAB-EXERCISE - 02

(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

**TAKE HOME LAB EXERCISE** answer below question.

In [1]:
import numpy as np
import pandas as pd

**Q.no(1). load the Data 'games.csv' as games.**

In [2]:
data=pd.read_csv('games.csv')
data

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81307,184441,boardgameexpansion,Micro Rome: Aegyptus,2015.0,1.0,1.0,0.0,30.0,0.0,10.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000
81308,184442,boardgame,Trivial Pursuit: Marvel Cinematic Universe Da...,2013.0,2.0,0.0,0.0,0.0,0.0,12.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000
81309,184443,boardgame,BEARanoia,2015.0,2.0,15.0,1.0,1.0,1.0,0.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000
81310,184449,boardgame,Freight,2015.0,2.0,4.0,60.0,30.0,60.0,8.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000

-----

**Q.no(2). Check the head of the DataFrame.**

In [3]:
data.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    81312 non-null  int64
 1   type                  81312 non-null  object
 2   name                  81271 non-null  object
 3   yearpublished         81309 non-null  float64
 4   minplayers            81309 non-null  float64
 5   maxplayers            81309 non-null  float64
 6   playingtime           81309 non-null  float64
 7   minplaytime           81309 non-null  float64
 8   maxplaytime           81309 non-null  float64
 9   minage                81309 non-null  float64
 10  users_rated           81312 non-null  int64
 11  average_rating        81312 non-null  float64
 12  bayes_average_rating  81312 non-null  float64
 13  total_owners          81312 non-null  int64
 14  total_traders         81312 non-null  int64
 15  total_wanters         81312 non-null  int64
 16  total_wishers         81312 non-null  int64
 17  total_comments        81312 non-null  int64
 18  total_weights         81312 non-null  int64
 19  average_weight        81312 non-null  float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [5]:
data['playingtime'].mean()

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [9]:
data['total_comments'].max()

11798

-------

**Q.no(6).What is the name of the game with id 1500.**

In [17]:
c=data[data['id']==1500],['name']
c

(         id       type    name  yearpublished  minplayers  maxplayers  \
 10592  1500  boardgame  Zocken         1999.0         2.0         8.0

        playingtime  minplaytime  maxplaytime  minage  users_rated  \
 10592         30.0         30.0         30.0     8.0           38

        average_rating  bayes_average_rating  total_owners  total_traders  \
 10592         5.60184               5.50547            62              4

        total_wanters  total_wishers  total_comments  total_weights  \
 10592              0              4              13              6

        average_weight
 10592          1.1667  ,
 ['name'])

------

**Q.no(7).which year the game with id 1600 was published.**

In [16]:
ab=data[data['id']==1600]
ab

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
13270,1600,boardgame,Russian Roulette,1986.0,2.0,6.0,45.0,45.0,45.0,0.0,4,3.25,0.0,3,0,0,0,7,0,0.0

-----

**Q.no(8).Which game has received highest number of comments.**

In [42]:
#data.head()
#data[]

data['total_comments'].max(axis=0)

11798

-----

**Q.no(9).Which games have received least number of comments**

In [36]:
data['total_comments'].min(axis=0)

0

-----

**Q.no(10).How many unique games are there in the dataset.**

In [45]:
unique_value=data.nunique()
unique_value

id                      79463
type                        2
name                    76035
yearpublished             323
minplayers                 24
maxplayers                 89
playingtime               134
minplaytime               123
maxplaytime               134
minage                     35
users_rated              2147
average_rating          17564
bayes_average_rating    12681
total_owners             2995
total_traders             407
total_wanters             540
total_wishers            1130
total_comments           1216
total_weights             657
average_weight           3376
dtype: int64

----

**Q.no(11).How many game types are present in the dataset.**

In [47]:
data.head()
data['type'].nunique()

2

----

**Q.no(12) Show the average ratings of games in ascending order.**

In [49]:
data.head()
data.sort_values(by=['average_rating'],ascending=True)

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.0,0.0,0,0,0,0,0,0,0.0
46614,57399,boardgame,Kugel-Duell,1980.0,2.0,2.0,15.0,15.0,15.0,8.0,0,0.0,0.0,1,0,1,0,0,0,0.0
46615,57401,boardgame,"Langohr, Schlitzohr, Rbe & Co",1983.0,2.0,4.0,15.0,15.0,15.0,5.0,0,0.0,0.0,2,1,0,0,1,0,0.0
46616,57402,boardgame,Latty Top,1983.0,2.0,4.0,30.0,30.0,30.0,8.0,0,0.0,0.0,0,0,0,0,0,0,0.0
46617,57407,boardgame,Golden Years Retirement Adventure Game,1988.0,2.0,6.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1,1,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76117,170606,boardgame,AEROSTAR,2014.0,2.0,5.0,60.0,60.0,60.0,12.0,2,10.0,0.0,3,0,0,0,1,1,5.0
76116,170604,boardgame,Renegade,2015.0,1.0,4.0,90.0,30.0,90.0,11.0,1,10.0,0.0,4,0,4,42,2,0,0.0
55328,98868,boardgame,The Puzzler,0.0,2.0,4.0,60.0,60.0,60.0,10.0,1,10.0,0.0,1,0,0,0,0,1,1.0
80276,181491,boardgame,Filthy Mime,2015.0,3.0,0.0,90.0,30.0,90.0,17.0,3,10.0,0.0,1,0,0,3,3,0,0.0
64898,135036,boardgameexpansion,Kingdom Death: Monster Gorm Expansion,2015.0,1.0,6.0,30.0,30.0,30.0,18.0,1,10.0,0.0,36,0,2,4,3,1,4.0

----

**Q.no(13) Show the average ratings of games in descending order.**

In [50]:
data.sort_values(by=['average_rating'],ascending=False)

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
74808,166729,boardgameexpansion,Age of Conan: The Strategy Board Game Adventu...,2015.0,0.0,0.0,0.0,0.0,0.0,0.0,2,10.0,0.0,67,0,13,65,33,1,4.0
62260,127567,boardgameexpansion,-(Mathul8)^2,2011.0,1.0,4.0,5.0,5.0,5.0,10.0,1,10.0,0.0,2,1,0,0,0,2,1.0
72670,160007,boardgame,Kamara,2014.0,2.0,8.0,25.0,25.0,25.0,12.0,1,10.0,0.0,2,0,0,0,0,0,0.0
78071,175640,boardgame,Vinhos Deluxe Edition,2016.0,2.0,4.0,135.0,60.0,135.0,14.0,1,10.0,0.0,3,0,27,155,3,0,0.0
79305,179159,boardgameexpansion,Zombicide: Black Plague Survivor Gowan,2015.0,1.0,6.0,0.0,0.0,0.0,10.0,1,10.0,0.0,25,0,2,9,7,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50664,70942,boardgame,Battleships Zenith!,2004.0,1.0,4.0,60.0,60.0,60.0,13.0,0,0.0,0.0,1,0,0,0,0,0,0.0
50661,70938,boardgame,Along Bible Roads,1960.0,3.0,15.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0,0,0,0,0,0.0
50659,70925,boardgame,Renpaarden,0.0,2.0,2.0,20.0,20.0,20.0,0.0,0,0.0,0.0,3,0,0,0,1,0,0.0
50653,70915,boardgame,The Stork Didn't Bring Me,1988.0,2.0,4.0,0.0,0.0,0.0,5.0,0,0.0,0.0,0,0,0,0,0,0,0.0
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.0,0.0,0,0,0,0,0,0,0.0

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [54]:
data.head()
data['average_rating'].rank()

0        78966.5
1        78777.5
2        78781.5
3        78475.5
4        78208.5
          ...
81307    12190.5
81308    12190.5
81309    12190.5
81310    12190.5
81311    12190.5
Name: average_rating, Length: 81312, dtype: float64

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------