1. Write a Python function to multiply all the numbers in a list.

In [3]:
def mul(l):
    val=1
    for i in l:
        val=val*i
    return val

l=[1,2,3,4,5]
mul(l)

120

2. Write a Python function to reverse a string 
i) use for loop
ii) use while loop

In [5]:
def rev(a):
    b=''
    for i in a:
        b=i+b
    return b
    
a="ADFH"
rev(a)

'HFDA'

In [10]:
def rev(a):
    length=len(a)
    b=''
    while length>0:
        b+=a[length-1]
        length=length-1
    return b
        
a="ADFH"
rev(a)

'HFDA'

3. Write a function to add and subtract two variables

In [11]:
def add1(x,y):
    return x+y
def sub1(x,y):
    return(x-y)

print(add1(5,4))
print(sub1(5,4))

9
1

4. Write a function to check the number is divisible by 12

In [14]:
def check(x):
    if(x%12==0):
        return "Divisible by 12"
    else:
        return "Not Divisible by 12"
check(24)

'Divisible by 12'

5. Write a function to calculate the number of days and weeks

In [16]:
def check_week(x):
    y=x*30
    z=x*4
    return y,z
check_week(3)

(90, 12)

6.Write a Python function to Find the 5!?

In [17]:
def fact(x):
    fact=1
    for i in range(1,x):
        fact*=i
    return fact
fact(5)

24

7. Write a Python function to find the unique elements of the list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

In [20]:
import numpy as np 
def getUnique(list1):
    x = np.array(list1) 
    return(np.unique(x))

list1 = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]
getUnique(list1)

array([  1,   2,   3,   4,   5,   6,   7,  34, 654])

Types of arguments


    1. Required arguments
    2. Keyword arguments
    3. Default arguments

1. Required arguments: 
Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [21]:
def cal(x,y,z):
    return(x*y*z/100)

cal(1000,4,3)

120.0

2.Keyword arguments:
Write a function which will be called with the name and message as the keyword arguments. Output will be "printing the message with 'name' and  'message'"

In [27]:
def defKey(x,y):
    return('Name is ',x,' and Age is ',y)
defKey('ashwin',24)

('Name is ', 'ashwin', ' and Age is ', 24)

3.Default Arguments:
Write a function which will be called with the name as keyword argument and age as the default arguments. Output will be "My name is 'name' and 'age is 27'"

In [29]:
def defKey(x,y=27):
    return('Name is ',x,' and Age is ',y)
defKey('ashwin')

('Name is ', 'ashwin', ' and Age is ', 27)

### lambda function

1. Get a number from user,  find if it is even or odd number?

In [35]:
a=int(input("Enter a number"))
b=lambda a: "Even" if(a%2==0) else "Odd"
b(a)

Enter a number7

'Odd'

2. Take a input from user and  square it

In [37]:
a=int(input("Enter a number"))
b=lambda a: a*a
b(a)

Enter a number6

36

3. Write a lambda function using logical operators?

Hint:
Check x < 10
Output: False / True

In [39]:
a=int(input("Enter a number"))
b=lambda a: "True" if(a>10) else "False"
b(a)

Enter a number13

'True'

4. Take an integer input from the user,  add 5 to the number and print it back?

In [40]:
a=int(input("Enter a number"))
b=lambda a:a+5
print(b(a))

Enter a number5
10

### Map

1. Add two lists using map ()
     lis1 = [12, 24, 36] 
     lis2 = [41, 54, 69] 
     
     Output:
     [53, 78, 105]

In [48]:
from operator import add
lis1 = [12, 24, 36] 
lis2 = [41, 54, 69] 
res=list(map(add,lis1,lis2))
print(str(res))

[53, 78, 105]

2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list(map(lambda a: a**2,list1))

[1, 4, 9, 16, 25, 36, 49]

3.In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function

In [4]:
list1= [1, 2, 3, 4, 5, 6, 7]
list(map(lambda x: "Even"if x%2==0 else "Odd",list1))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list

In [6]:
list1= [11, 12, 13, 14, 435, 6, 27]
list(map(lambda x: x//7,list1))

[1, 1, 1, 2, 62, 0, 3]

### Filter

1.Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] filter the numbers in list which are not divisible by 2

In [10]:
lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]
list(filter(lambda x: x%2!=0,lis1))

[3, 43, 455, 43, 543]

2.For a given list1 = [1, 2, 3, 4, 5, 6] filter only the even numbers (Use filter).

In [2]:
list1 = [1, 2, 3, 4, 5, 6]
list(filter(lambda x:  x%2==0 ,list1))

[2, 4, 6]

3. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.

In [7]:
def checkfil (y):
    return(list(filter(lambda x : x%2==0,y)))

list1 = [2,3,5,3,6,3,7,4,6,7]
checkfil(list1)

[2, 6, 4, 6]

4. For a given list = [1, 12, 31, 4, 15, 6, 7] filter only the odd numbers using user defined function.

In [11]:
def checkfil (y):
    return(list(filter(lambda x : x%2!=0,y)))

list1 = [1, 12, 31, 4, 15, 6, 7]
checkfil(list1)

[1, 31, 15, 7]

### Reduce

1.For list = [1, 2, 3, 4] multiply all the elements (use reduce function)

In [15]:
from functools import reduce
list = [1, 2, 3, 4,5]
reduce(lambda x,y: x*y,list)

120

2. For list = [ 11 , 13, 15, 16, 2,43 ]  sum all the elements (use reduce function)

In [16]:
list = [ 11 , 13, 15, 16, 2,43 ]
reduce(lambda x,y:x+y,list)

100

3. Find the maximum value in the list = [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [17]:
list = [543,7,6,4567,7,78,6,6,78,765,678]
reduce(lambda x,y: x if x>y else y ,list)

4567

4. Find the minimum value in the list= [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [18]:
list= [543,7,6,4567,7,78,6,6,78,765,678]
reduce(lambda x,y: x if x<y else y ,list)

6