In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Test_Set_90621.csv')

In [3]:
df.head()

,Application ID,Bank Masked,Bank Type,Approved_Timestamp,Name Masked,Business Owner State,Business_Industry_Type_Code,Approved_Year,New Business,Term,...,Funds available with company,Gross_Apprv_Amount,Company Branch Code,City or Rural,Jobs Generated,Carry-forward Credit,Documents Provided,Balance Left,Amount Defaulted,Final_Appved_Amount
0,20210600001,Bank_Name_17,Private,16-12-2003,Business_Name_113587,Maharashtra,562961,2003,2.0,240,...,650447,30100000,1,0,15,N,N,0,0,30100000
1,20210600002,Bank_Number_2123,Govt,23-07-2010,Business_Name_22345,Delhi,1230,2010,1.0,87,...,1762036,7000000,30811,0,0,N,Y,0,0,6300000
2,20210600003,Bank_Number_581,Private,20-07-2012,Business_Name_31551,Maharashtra,612749,2012,1.0,84,...,127229,1680000,0,1,0,Y,N,0,0,840000
3,20210600004,Bank_Number_61,Private,01-04-2010,Business_Name_62545,Uttar Pradesh,237160,2010,1.0,93,...,317054,6230000,78760,0,0,N,N,0,0,5607000
4,20210600005,Bank_Name_5452,Private,26-07-2004,Business_Name_139383,Haryana,444351,2004,1.0,240,...,1803649,41930000,1,0,4,N,N,0,0,41930000

In [5]:
df.shape

(83623, 28)

In [7]:
df.isnull().sum()

Application ID                      0
Bank Masked                        48
Bank Type                          48
Approved_Timestamp                174
Name Masked                         0
Business Owner State                0
Business_Industry_Type_Code         0
Approved_Year                       0
New Business                       15
Term                                0
BankState                          48
Interest Rate                       0
Employees                           0
Gross Disbursed Amount              0
Term_years                          0
Jobs Retained                       0
Male to Female Employees Ratio      0
Expected Company Income             0
Funds available with company        0
Gross_Apprv_Amount                  0
Company Branch Code                 0
City or Rural                       0
Jobs Generated                      0
Carry-forward Credit              412
Documents Provided                247
Balance Left                        0
Amount Defaulted                    0
Final_Appved_Amount                 0
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df.dtypes

Application ID                      int64
Bank Masked                        object
Bank Type                          object
Approved_Timestamp                 object
Name Masked                        object
Business Owner State               object
Business_Industry_Type_Code         int64
Approved_Year                       int64
New Business                      float64
Term                                int64
BankState                          object
Interest Rate                       int64
Employees                           int64
Gross Disbursed Amount              int64
Term_years                          int64
Jobs Retained                       int64
Male to Female Employees Ratio      int64
Expected Company Income             int64
Funds available with company        int64
Gross_Apprv_Amount                  int64
Company Branch Code                 int64
City or Rural                       int64
Jobs Generated                      int64
Carry-forward Credit               object
Documents Provided                 object
Balance Left                        int64
Amount Defaulted                    int64
Final_Appved_Amount                 int64
dtype: object

In [13]:
Q1=df.quantile(0.25)
Q3=df.quantile(0.75)
IQR=Q3-Q1
df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]

In [14]:
df.shape

(25312, 28)

In [15]:
df_train=df.drop(columns=['Application ID','Bank Masked','Name Masked','Approved_Timestamp'],axis=1)

In [16]:
df_cat_train=df_train.select_dtypes('object')

In [17]:
df_cat_train=df_cat_train.drop(columns=['Business Owner State','BankState'],axis=0)

In [18]:
df_cat_train_x1 = pd.get_dummies(df_cat_train, drop_first=True)

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [20]:
df_train['Business Owner State']=le.fit_transform(df_train['Business Owner State'])
df_train['BankState']=le.fit_transform(df_train['BankState'])