<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Import the necessary libraries: </b> </p>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<body>
<h2 style="background-color:#0067a7; color:#FFFFFF"align="center">COVID Dataset</h2>
</body>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 1: Create a dataframe using the below data </b> </p>

	State	                        Active_Cases 	 Recovered 	 Deceased 
    Andaman and Nicobar Islands	    268 	         3,202 	     51 
    Andhra Pradesh	                 95,733 	      457,008 	   4,846 
    Arunachal Pradesh	              1,712 	       4,253 	     10 
    Assam	                          29,133 	      110,885 	   453 
    Bihar	                          14,396           141,499 	   808

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 2: Print the summary of the dataframe </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 3: Display the top 5 records</b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 4: Get the covid case details of Assam </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 5: Get the total active cases and deceased cases in Assam </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 6: Get the total active cases and recovered cases in Andhra Pradesh & Bihar  </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 7: Add the below record to the existing dataframe </b> </p>

Mizoram      591         823         0
Tamil Nadu	 47110 	     441649 	 8307

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 8: Display the whole dataframe, with recovery rate in descending order</b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 9: Rank the active cases in descending order and add the same in the existing dataframe. Display the records with the lowest rank coming first </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 10: Create a dataframe with below mentioned details and rank the scores based on min, max and dense methods </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 11: Set the state column as index to the dataframe </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 12: Read the covid_data csv file</b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 13: Drop the S.No. column </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 14: Remove the blank spaces present in the column names </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 15: Remove the , symbol present in the records </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 16: Replace the string '-' present in the deceased column with 0  </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 17: Check the data information, convert the column with values in numbers to int data type </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 18: Provide the summary statistics </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 19: Find out the states whose recovery rate is greater than the average recovery rate </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 20: Find out the states whose deceased count is less than 500 and the active cases is less than 20000 </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 21: Load the emp1, emp2 and dept datasets </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 21: Concatenate the employee1 and 2 datasets </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 22: Merge the employee and department table, on column department id. Ensure that none of the record is missed out </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 23: Join the dept and emp table on dept id, display only the matching records </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 24: Merge the emp and dept table based on dept id. Display all the records in employee table and the matching records in department table </b> </p>

<p style="background-color:#b5e7a0;font-size:18px;color:#4040a1" size="4"><b> Exercise 25: Merge the emp and dept table based on dept id. Display all the records in department table and the matching records in employee table </b> </p>