In [5]:
import numpy as np
import pandas as pd
from scipy import stats
import statistics #To perform statistical performation
from scipy.stats import shapiro # To check Normality
import statsmodels.api as sm # Import stats model
from statsmodels.stats import weightstats as stests #To perform z test
from scipy.stats import chisquare

We need to determine if girls' score on average higher than 65 in the reading test. We collected the data of 517 girls by using random sampling from a normally distributed population and recorded their marks. Set ⍺ value (significance level) to 0.05.

In [ ]:
H0 <=65
H1>65
mean=65
n=517
Alpha=0.05

In [8]:
#To calculate critical value
z_val=round(stats.norm.isf(q=0.05),2)
z_val

1.64

In [ ]:
# To Calculate Z-score ,P-val
z_score,p_val=stests.ztest(x1 ,value=65,alternative='larger')

In [ ]:
# To calclate confidence interval
stats.norm.interval(0.95,mean,scale = statistics.stdev(scores)/np.sqrt(n))
#Z-val:1.64
#Z-score:  2.529410071375873
#p-value:  0.005712722457410142
#65.33094545307333, 67.6090932316462
#Z-score greater than z-val and P-val < 0.05 and mean not lies in confidence interval ,So reject Null hypothesis

The manager of a packaging process at a protein powder manufacturing plant wants to determine if the protein powder packing process is in control. The correct amount of protein powder per box is 350 grams on an average. A sample of 80 boxes was drawn which gave a mean of 354.5 grams with a standard deviation of 15. At 5% level of significance, is there evidence to suggest that the weight is different from 350 grams.

In [24]:
n=80
popmean=350
sammean=354.5
sd=15
alpha=0.05
#N is 80,so large onesample z-test

#Ho=350
#H1!=350

In [25]:
#Find Z-val
Z_val=round(stats.norm.isf(q=0.05),2)
Z_val
#Find Z-score,P-val
Z_score=(sammean-popmean)/(sd/np.sqrt(80))
Z_score
P_val=stats.norm.sf(Z_score)
P_val
print(Z_val)
print(Z_score)
print(P_val*2)
#Find Z-critical

1.64
2.6832815729997477
0.007290358091535638

The training institute Nature Learning claims that the students trained in their institute have overall better performance than the students trained in their competitor institute Speak Global Learning. We have a sample data of 500 students from each institute along with their total score collected from independent normal populations. Frame a hypothesis and test the Nature Learning's claim with 99% confidence.

A study was carried out to understand amount of haemoglobin in blood for males and females. A random sample of 160 males and 180 females have means of 13 g/dl and 15 g/dl. The two samples have standard deviation of 4.1 g/dl for male donors and 3.5 g/dl for female donor . Can it be said the population means of concentrations of the elements are the same for men and women? Use α = 0.01.

In [31]:
student=pd.read_csv('D:\\DataScience\\Material\\STATS\\Notebooks - 3\\Week 3 - ChiSquare and ANOVA\\students_data.csv')
student.head()

,gender,ethnicity,education,lunch,test_prep_course,math_score,reading_score,writing_score,total_score,training_institute
0,female,group B,bachelor's degree,standard,none,89,55,56,200,Nature Learning
1,female,group C,college,standard,completed,55,63,72,190,Nature Learning
2,female,group B,master's degree,standard,none,64,71,56,191,Nature Learning
3,male,group A,associate's degree,free/reduced,none,60,99,72,231,Nature Learning
4,male,group C,college,standard,none,75,66,51,192,Nature Learning

In [30]:
demographic=pd.read_csv('D:\\DataScience\\Material\\STATS\\Notebooks - 3\\Week 3 - ChiSquare and ANOVA\\demographic_data.csv')
demographic.head()

            education
0   bachelor's degree
1             college
2         high school
3  associate's degree
4         high school

In [37]:
stud_count=student['education'].value_counts()
stud_count
exp_count=demographic['education'].value_counts()
exp_count

college               1250
associate's degree    1200
high school           1100
Ph.D.                 1050
bachelor's degree      940
master's degree        600
Name: education, dtype: int64

In [56]:
Expected=(exp_count*len(student))/len(demographic)
expected=list(Expected)
expected

[203.5830618892508,
 195.43973941368077,
 179.1530944625407,
 171.0097719869707,
 153.09446254071662,
 97.71986970684038]

In [45]:
z_val=stats.chi2.isf(q=0.1,df=5)
z_val

9.236356899781116

In [57]:
test,p_val=chisquare(f_obs =list(stud_count), f_exp = expected)
test,p_val

(31.400760035000467, 7.8061673788274e-06)

In [52]:
list(expected)

[208333.33333333334,
 200000.0,
 183333.33333333334,
 175000.0,
 156666.66666666666,
 100000.0]

At an emporium, the manager is interested in knowing the age group which visits the mall during the day. He defines categories as - children, teenagers, adults and senior citizens. He plans to have his inventory of goods accordingly. He claims that out of all the people who visited 5% are children, 38% are teenagers, 2% are senior citizens are remaining are adults. From a sample of 180 people, it was seen that 25 were children, 50 were teenagers, 90 were adults and 15 were senior citizens. Test the manager’s claim at a 95% confidence level.

In [63]:
Expected=[0.05,0.38,0.05,0.02]
Observer=[25,50,90,15]

In [61]:
Z_score=round(stats.chi2.isf(q=0.05,df=4),2)
Z_score

9.49

In [75]:
expected=(np.array(Expected)*180)
expected

array([ 9. , 68.4,  9. ,  3.6])

In [ ]:
chisquare(f_obs =list(Observer),f_exp =list(expected))