<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Chi-Square Test](#chisq)**
2. **[One-way ANOVA](#1way)**
3. **[Equivalent Non-parametric Test](#non-para)**
4. **[Two-way ANOVA](#2way)**

**Import the required libraries**

In [1]:
# type your code here
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare

In [2]:
df=pd.read_csv('Employee_Attrition.csv')

In [4]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

### Let's begin with some hands-on practice exercises

<a id = "chisq"> </a>
## 1. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 8.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# type your code here
df['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [15]:
observed=[961,446,63]
exp_count = [0.55, 0.35, 0.10]
epected=np.array(exp_count)*len(df)
epected = round(pd.Series(epected))
stat, p_value = chisquare(f_obs = observed, f_exp = epected)
print('p-value:', p_value)

p-value: 2.642446152388858e-19

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
# type your code here
df['JobSatisfaction'].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [17]:
df['JobSatisfaction'] = df['JobSatisfaction'].astype('object')

In [18]:
chi_val=stats.chi2.isf(q=0.1,df=3)
chi_val

6.2513886311703235

In [24]:
observed_value = [289, 280, 442, 459]
exp_count = [0.2, 0.18, 0.3, 0.32]
expected_value = np.array(exp_count) * len(df)
stat, p_value = chisquare(f_obs = observed_value, f_exp = expected_value)
stat

1.2598733938019708

In [ ]:
#Accept H1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The company claims that in the organization, 68% of employees are there with rare travelling, 20% with frequent travelling and 12% of employees does not need to travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
# type your code here
df['BusinessTravel'].value_counts()
observed=[1043,277,150]
expected=[0.68,0.20,0.12]
expected_value = np.array(expected) * len(df)
expected_value
stat, p_value = chisquare(f_obs = observed, f_exp = expected_value)
p_value

0.0330688454314459

In [ ]:
#Invalid claim

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# type your code here
table = pd.crosstab(df['BusinessTravel'], df['JobRole'])
observed_value = table.values
observed_value

array([[ 15,   4,  28,  12,  13,   6,  28,  39,   5],
       [ 26,  10,  51,  13,  29,  12,  54,  59,  23],
       [ 90,  38, 180,  77, 103,  62, 210, 228,  55]], dtype=int64)

In [37]:
# use the 'chi2_contingency()' to check the independence of variables
test_stat, p,dof, expected_value = chi2_contingency(observed = observed_value, correction = False)
p

0.7448263418408124

In [41]:
#Accept null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [44]:
# type your code here
table = pd.crosstab(df['Attrition'], df['MaritalStatus'])
observed_value = table.values
observed_value

chi2_val=stats.chi2.isf(q = 0.05, df = 2)
chi2_val
#Accept H1

5.991464547107983

In [46]:
test_stat, p, dof, expected_value = chi2_contingency(observed = observed_value, correction = False)
test_stat

46.163676540848705

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Check whether travelling for the business depends on the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [48]:
# type your code here
table=pd.crosstab(df['BusinessTravel'],df['Gender'])
observed_value = table.values
observed_value
test_stat, p, dof, expected_value = chi2_contingency(observed = observed_value, correction = False)
p
#Accept H0

0.13322895625828154

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The economic forum claims that the variance in the percentage salary hike is more the 12% in Manhattan. To test the forum's claim use the data obtained from a telecom company in Manhattan. Use a critical value method to test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [53]:
# type your code here
salary = df['PercentSalaryHike']
sig=12
samp_mean = np.mean(salary)
n=len(salary)
chi2_val = np.abs(round(stats.chi2.isf(q = 0.1, df = 1469), 4))
chi2_val

1538.8785

In [56]:
chi_test = (np.sum((salary - samp_mean)**2)) / sig
print('Test Statistic:', chi_test)

Test Statistic: 1639.788888888889

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The worker's association claims that the distance travelled by each employee to reach the office has a variance of less than 15 miles. Use a critical value method to test the claim with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [62]:
# type your code here
#h0>=15
#h1<15
dist = df['DistanceFromHome']
samp_mean=np.mean(dist)
n=len(dist)
sig=15
chi2_val = np.abs(round(stats.chi2.isf(q = 0.1, df = 1469), 4))
chi2_val

1538.8785

In [63]:
chi_test = (np.sum((dist - samp_mean)**2)) / sig
print('Test Statistic:', chi_test)

Test Statistic: 6436.301179138322

In [ ]:
#The above output shows that the chi-square test statistic is greater than 1380.9949. Thus we reject the null hypothesis and conclude that the distance travelled by each employee to reach the office has a variance of less than 15 miles.

<a id = "1way"> </a>
## 2. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 9 to 13.

In [3]:
df=pd.read_csv('sales_emp.csv')
df.head()

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0
2,50,Travel_Rarely,869,3,2,Marketing,1,47,1,86,...,3,80,0,3,2,3,3,2,0,2
3,46,Travel_Rarely,669,9,2,Medical,1,118,3,64,...,4,80,0,9,3,3,9,8,4,7
4,25,Non-Travel,240,5,3,Marketing,1,142,3,46,...,4,80,0,6,1,3,6,4,0,3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [68]:
# type your code here
stat, p_value = stats.shapiro(df['MonthlyIncome'])

# print the p-value
print('p-value:', p_value)
#Normally distributed

p-value: 0.05732710659503937

In [69]:
df['EducationField'].unique()

array(['Life Sciences', 'Technical Degree', 'Marketing', 'Medical',
       'Other'], dtype=object)

In [73]:
stat, p_value = stats.levene(df[df['EducationField'] == 'Life Sciences']['MonthlyIncome'],
                             df[df['EducationField'] == 'Technical Degree']['MonthlyIncome'],
                             df[df['EducationField'] == 'Marketing']['MonthlyIncome'],
                             df[df['EducationField'] == 'Medical']['MonthlyIncome'],
                             df[df['EducationField'] == 'Other']['MonthlyIncome'])

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.23476859109336565

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
df['EducationField'].value_counts()

Marketing           20
Life Sciences       16
Medical              8
Technical Degree     6
Other                4
Name: EducationField, dtype: int64

In [7]:
f = np.abs(round(stats.f.isf(q = 0.05, dfn = 4, dfd = 49), 4))
f

2.5611

In [8]:
test_stat, p_val = stats.f_oneway(df[df['EducationField'] == 'Life Sciences']['MonthlyIncome'],
                                  df[df['EducationField'] == 'Technical Degree']['MonthlyIncome'],
                                  df[df['EducationField'] == 'Marketing']['MonthlyIncome'],
                                  df[df['EducationField'] == 'Medical']['MonthlyIncome'],
                                  df[df['EducationField'] == 'Other']['MonthlyIncome'])

# print the test statistic
print('Test statistic:', test_stat)

Test statistic: 0.9546031924978221

In [10]:
# type your code here
df.head()

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0
2,50,Travel_Rarely,869,3,2,Marketing,1,47,1,86,...,3,80,0,3,2,3,3,2,0,2
3,46,Travel_Rarely,669,9,2,Medical,1,118,3,64,...,4,80,0,9,3,3,9,8,4,7
4,25,Non-Travel,240,5,3,Marketing,1,142,3,46,...,4,80,0,6,1,3,6,4,0,3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<a id= "non-para"></a>
## 3. Equivalent Non-parametric Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 14 to 18.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Can we use the non-parametric test to study the equality of average monthly income for all departments in the company? Use a p-value technique to test at 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>15. Check whether the monthly income for all the departments in a company is the same or not. Test using the critical value method at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Is it possible to identify the department with different average monthly income? If yes, perform the test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Check whether we can perform the Kruskal-Wallis H test to test the equality of the average experience of employees in all the departments. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>18. Perform a non-parametric test to test the equality of the average experience of employees in all the departments. Use the p-value technique to perform the test with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<a id= "2way"></a>
## 4. Two-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 19 and 20.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Check whether the monthly income of employee depends on the education field and job involvement of the employee. Use the p-value technique with 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Check whether the daily rate is affected by the types of business travel and levels of work-life balance. Use the p-value technique with 1% level of significance.</b>
                </font> 
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here