# NPV FINAL EXAM

-----------------------

# SECTION A: 20 MARKS

 _________________

### 1. Create a Numpy array of size 20 elements using random package. Convert the above numpy array into 2 equal arrays of size 2x5 each. Convert the second array to a 1-D array and reverse the elements.And find the 4th element in the reversed array.(5 Marks)

### 2. Write a Program

A.	Create a Series with words 'hello how are you'. as the contents. (1marks)

B.	Convert the first letter of every element in series to uppercase. (1marks)

C.	Find the length of each element in the series. And find the lengthiest word in the series. (3marks)

### 3. Write a Program
    
A.	Create a 5x5 array with random values and find the minimum and maximum values (1 mark)

B.	Add a padding (filled with 0's) around random array of size 5*5 created in Question number 'A' (1 Mark)

C.	Create a zero matrix of size 5x5 and add values 1,2,3,4,5 as diagonal values of that matrix (1 Mark)

D.	Given a 1D array (1-20), negate all elements which are between 11 and 18 (Both included), in place. (2 Marks)

### 4.	Write a program to 

A.	Create a pandas Series with consecutive numbers between 10 to 20 (include both the boundary values in the series). (1 Mark)

B.	Replace all the even numbers with number 30. (1 Mark)

C.	Display the series in descending order. (1 Mark)

D.	Create a Data frame from the above-created series with column names as numbers. Fetch the data from 2nd, 6th, and 7th rows. 
(2 Marks)

# SECTION B: 20 MARKS

--------------




### We combined Two datasets in single CSV file and mention below columns belongs to 



### UK_Flight_2018

This dataset contains information about Every quarter we will update key figures which summarise the levels of activity at the UK’s airports. In each edition we will also include some different interesting facts derived from the various data sources available to the CAA.


* run_date	
* reporting_period	
* reporting_airport	
* origin_destination_country	
* origin_destination	
* airline_name	scheduled_charter	
* number_flights_matched	
* actual_flights_unmatched	
* number_flights_cancelled	
* flights_more_than_15_minutes_early_percent	
* flights_15_minutes_early_to_1_minute_early_percent	
* flights_0_to_15_minutes_late_percent	
* flights_between_16_and_30_minutes_late_percent	
* flights_between_31_and_60_minutes_late_percent	
* flights_between_61_and_120_minutes_late_percent	
* flights_between_121_and_180_minutes_late_percent	
* flights_between_181_and_360_minutes_late_percent	
* flights_more_than_360_minutes_late_percent	
* flights_unmatched_percent	

* flights_cancelled_percent	average_delay_mins	
* previous_year_month_flights_matched	
* previous_year_month_early_to_15_mins_late_percent	previous_year_month_average_delay

### ramen_ratings

The Ramen Rater is a product review website for the hardcore ramen enthusiast (or "ramenphile"), with over 1128 reviews to date. 

Each record in the dataset is a single ramen product review. Review numbers are contiguous: more recently reviewed ramen varieties have higher numbers. Brand, Variety (the product name), Country, and Style (Cup? Bowl? Tray?) are pretty self-explanatory. Stars indicate the ramen quality, as assessed by the reviewer, on a 5-point scale; this is the most important column in the dataset!

* Review #
* Brand	
* Variety	
* Style	
* Country	
* Stars	
* Top Ten

## Kindly change the below cells from markdown to code and execute it

import pandas as pd

import csv

with open("data_set.csv","r")as file:
    
    reader=csv.reader(file)

df=pd.read_csv("data_set.csv")

df.head()

In [ ]:
UK_Flight_2018 = df.iloc[:, 7:]
UK_Flight_2018.head(1)

,run_date,reporting_period,reporting_airport,origin_destination_country,origin_destination,airline_name,scheduled_charter,number_flights_matched,actual_flights_unmatched,number_flights_cancelled,...,flights_between_61_and_120_minutes_late_percent,flights_between_121_and_180_minutes_late_percent,flights_between_181_and_360_minutes_late_percent,flights_more_than_360_minutes_late_percent,flights_unmatched_percent,flights_cancelled_percent,average_delay_mins,previous_year_month_flights_matched,previous_year_month_early_to_15_mins_late_percent,previous_year_month_average_delay
0,30-04-2018 13:48,201801,ABERDEEN,POLAND,GDANSK,WIZZ AIR,S,18,0,2,...,0.0,5.0,0.0,0.0,0.0,10.0,11.0,19,63.157895,33.736842

In [ ]:
ramen_ratings = df.iloc[:, :7]
ramen_ratings.head(1)

   Review #      Brand                    Variety Style Country  Stars Top Ten
0      2580  New Touch  T's Restaurant Tantanmen    Cup   Japan   3.75     NaN

### 5. Read the given Dataset UK_Flight_2018.

A.	Find the number of rows and columns present in it. (1 Marks)

B.	Identify the airline names flying in the UK. (1 Marks)

C.	Find the list of flights that origin from Vietnam. (1 Marks)

D.	Find the number of airlines under each reporting airport. (1 Marks)

E.	Find the number of flights that origin from Los Angeles and reporting at Heathrow Airport. (2 Marks)

F.	Find the total number of flights matched, unmatched and canceled. (2 Marks)

G.	For flights originating from the USA and find the average delay in minutes for every airline. (2 Marks)

H.	Find the list of airlines whose flights are delayed for more than an hour for at least 10% of the time. Calculate the total percentage collectively as the average of all the delay percentages for 60 minutes till 360 minutes. (5 Marks)

I. Identify the scheduled_charter names with counts flying in the UK and also, Plot the bar plot for scheduled_charter. (5 Marks)

# SECTION C: 30 MARKS

 _________________

### 6.Read the given Dataset (Ramen-rating)

A.	Identify number of brands about which the information is being captured in the dataset (2 MARKS)

B.	Which brands are having the highest number of reviews (2 MARKS)

C.	Identify for how many rows the data for column Top Ten exists? (2 Marks)

D.	 Store the data of bowl noodles for countries China and Taiwan in a data frame and display it. (3 MARKS)

E.	Store the result in a data frame. Using the data frame find the brands that have ranking more than 4. (2 Marks)

F.	Write a function to return the year in numbers or null if there is no value for Top Ten column. Use this value to create a 
new column Top_Year. (5 Marks)

Add the column to the dataset. (1 Marks)


G.	 For every “Country” and “Style” of noodle find the average “Stars”. Order them by stars highest to lowest. (3 MARKS)

H.	Which “Country” and “Style” of the noodle combinations are having the overall highest rating (5 MARKS)


I.	 Find out the “Country” about which we have maximum number of information in the dataset (5 MARKS)